streamlit==1.47.1
openai-whisper==20250625

torch==2.7.1
torchaudio==2.7.1

transformers==4.53.2
sentencepiece
accelerate

pandas==2.3.1
matplotlib==3.10.3
numpy==2.2.6

google-genai
deep-translator
textblob
yake
reportlab
xgboost
scikit-learn