streamlit
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
openai-whisper
transformers==4.41.2
sentencepiece
pandas
matplotlib
textblob
yake
deep-translator
google-genai
reportlab
scikit-learn
xgboost